<mat-toolbar color="primary">
    <!-- <button mat-icon-button class="example-icon" 
        (click)="toggleSidenav()"
        aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button> -->
    <span>
        <a routerLink="" matTooltip="Go to the main content" mat-button>
            <mat-icon>pages</mat-icon> Application Spa
        </a>
    </span>
    <!-- <div>
        <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon favorite-icon"
            matTooltip="My loves" 
            routerLink="/paquetes" 
            aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
        </button>
    </div>
    <div>
        <button mat-icon-button class="example-icon" 
        matTooltip="Shares this pages" 
        (click)="copyThisLink()" 
        aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
        </button>
    </div> -->
    <app-autorizado [rol]="'admin'">
        <ng-container autorizado>
            <div>
                <a mat-button routerLink="/sucursales">
                    Sucursales
                </a>
            </div>
            <div>
                <a mat-button routerLink="/tipo-servicios">
                    Tipo Servicio
                </a>
            </div>
            <div>
                <a mat-button routerLink="/servicios">
                    Servicios
                </a>
            </div>
            <div>
                <a mat-button routerLink="/paquetes">
                    Paquetes
                </a>
            </div>
            <!-- <div>
                <a mat-button routerLink="/paquetes">
                    Usuarios
                </a>
            </div> -->
        </ng-container>
    </app-autorizado>
    <div class="espacio"></div>
    <app-autorizado>
        <ng-container autorizado>
            <span>Hola, {{seguridadService.obtenerCampoJWT('email')}} </span>
            <a mat-button (click)="seguridadService.logout()" >Logout</a>
        </ng-container>
        <ng-container noAutorizado>
            <a mat-button routerLink="login">Login <mat-icon>login</mat-icon> </a>
            <a mat-button routerLink="registro">Registro <mat-icon>add</mat-icon></a>
        </ng-container>
    </app-autorizado>
   



</mat-toolbar>