<div *ngIf="this.TipoServicios?.length > 0">
    <div *ngFor="let element of this.TipoServicios">
        <h2>Servicios de {{element.nombre}}</h2>
        <div class="cards-contenedor">
            <div *ngFor="let itemService of element.servicios" style="display: block;">
                <mat-card class="example-card card-contenedor">
                    <mat-card-title-group>
                        <mat-card-title>{{itemService.nombre}}</mat-card-title>
                        <mat-card-subtitle><strong>{{itemService.valor | currency: 'PEN' }}</strong></mat-card-subtitle>
                        <img mat-card-md-image src="{{itemService.foto}}">
                    </mat-card-title-group>
                    <mat-card-content>
                        {{itemService.descripcion}} <a routerLink="/servicios/detalle/{{itemService.id}}"> Mas info </a>
                    </mat-card-content>
                    <mat-card-actions>
                        <div class="example-button-row">
                            <div class="example-flex-container" style="text-align: center;">
                                <button mat-icon-button color="accent" matTooltip="add cart">
                                    <mat-icon>add_shopping_cart</mat-icon>
                                </button>
                                <button mat-icon-button color="primary" matTooltip="like this content">
                                    <mat-icon>thumb_up</mat-icon>
                                </button>
                                <button mat-icon-button color="warn" matTooltip="love this content">
                                    <mat-icon>favorite</mat-icon>
                                </button>
                                <button mat-icon-button color="accent" matTooltip="write a comment">
                                    <mat-icon>comment</mat-icon>
                                </button>
                                <button mat-icon-button color="warn" matTooltip="share this post">
                                    <mat-icon>share</mat-icon>
                                </button>
                            </div>
                        </div>
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>
    </div>
</div>

<!-- <mat-drawer-container class="example-container">
    <mat-drawer mode="side" position="start" opened>
          <mat-divider></mat-divider>

          <mat-action-list>
            <button mat-list-item routerLink="/" color="primary"> SaveSaveSaveSaveSaveSaveSave </button>
            <button mat-list-item routerLink="/" color="accent"> Save </button>
            <button mat-list-item routerLink="/" color="warn"> Save </button>
            <button mat-list-item color="warn"> Undo </button>
            <a mat-list-item href="https://www.google.com/" target="_blank">Link</a>
          </mat-action-list>
    </mat-drawer>
    <mat-drawer mode="side" position="end" opened>
        <ul style="list-style:none; margin-left: -2rem;">
            <li style="margin-right: 2rem;"> <mat-icon>label</mat-icon> Opcion seleccionable larga</li>
            <li style="margin-right: 2rem;"> <mat-icon>label</mat-icon> Opcion seleccionable larga</li>
            <li style="margin-right: 2rem;"> <mat-icon>label</mat-icon> Opcion seleccionable larga</li>
            <li style="margin-right: 2rem;"> <mat-icon>label</mat-icon> Opcion seleccionable larga</li>
            <li style="margin-right: 2rem;"> <mat-icon>label</mat-icon> Opcion seleccionable larga</li>
            <li style="margin-right: 2rem;"> <mat-icon>label</mat-icon> Opcion seleccionable larga</li>
            <li style="margin-right: 2rem;"> <mat-icon>label</mat-icon> Opcion seleccionable larga</li>
            <li style="margin-right: 2rem;"> <mat-icon>label</mat-icon> Opcion seleccionable larga</li>
            <li style="margin-right: 2rem;"> <mat-icon>label</mat-icon> Opcion seleccionable larga</li>
            <li style="margin-right: 2rem;"> <mat-icon>label</mat-icon> Opcion seleccionable larga</li>
        </ul>
    </mat-drawer>
    <mat-drawer-content><mat-tab-group dynamicHeight>
        <mat-tab label="Publicaciones">
          <div class="example-large-box mat-elevation-z4">
            <mat-card class="example-card">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>Shiba Inu</mat-card-title>
                    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button>
                </mat-card-actions>
                <mat-card-footer *ngIf="false">
                    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                </mat-card-footer>
            </mat-card>
            <mat-card class="example-card">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>Shiba Inu</mat-card-title>
                    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button>
                </mat-card-actions>
                <mat-card-footer *ngIf="false">
                    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                </mat-card-footer>
            </mat-card>
            <mat-card class="example-card">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>Shiba Inu</mat-card-title>
                    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button>
                </mat-card-actions>
                <mat-card-footer *ngIf="false">
                    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                </mat-card-footer>
            </mat-card>
          </div>
        </mat-tab>
        <mat-tab label="Short tab">
        <div class="example-small-box mat-elevation-z4">
            Small content
        </div>
        </mat-tab>
        <mat-tab label="Short tab">
        <div class="example-small-box mat-elevation-z4">
            Small content
        </div>
        </mat-tab>
    </mat-tab-group></mat-drawer-content>
</mat-drawer-container>
   -->